<%- include('layout.ejs'); %>
<%- include('PMtutorial.ejs'); %>
<%- include('PMdelays.ejs'); %>
<%- include('PMdcmotor.ejs'); %>
<%- include('PMloops.ejs'); %>
<%- include('PMifelse.ejs'); %>
<%- include('PMcustom.ejs'); %>

    <div class="container">
      <div class="row justify-content-center" id="blockCategory">
        <div class="card-deck pt-5 pb-5">
          <div class="card border border-info pt-2" data-toggle="modal" data-target=".bd-example-modal-lg1">
            <h5 class="card-title text-center" id="tutorial">TUTORIAL</h5>
            <img class="card-img-top" src="images/tutorial.png" width="100" height="180" alt="Card image cap" />
            <div class="card-body">
              <p class="card-text">
                Learn the basics of KiddyBlock and how to connect your robot car.
              </p>
            </div>
          </div>

          <div class="card border border-info pt-2" data-toggle="modal" data-target=".bd-example-modal-lg2">
            <h5 class="card-title text-center" id="delay">DELAYS</h5>
            <img class="card-img-top" src="images/delay.png" width="100" height="180" alt="Card image cap" />
            <div class="card-body">
              <p class="card-text">
                Learn about delays and how to use them in your program.
              </p>
            </div>
          </div>

          <div class="card border border-info pt-2" data-toggle="modal" data-target=".bd-example-modal-lg3">
            <h5 class="card-title text-center" id="dcmotor">DC MOTORS</h5>
            <img class="card-img-top" src="images/logoinsta.png" width="100" height="180" alt="Card image cap" />
            <div class="card-body">
              <p class="card-text">
                Learn how to control the speed and direction of the motors.
              </p>
            </div>
          </div>
        </div>

        <div class="card-deck pb-5">
          <div class="card border border-info pt-2" data-toggle="modal" data-target=".bd-example-modal-lg4">
            <h5 class="card-title text-center" id="loops">LOOPS</h5>
            <img class="card-img-top" src="images/loops.png" width="100" height="180" alt="Card image cap" />
            <div class="card-body">
              <p class="card-text">
                Learn how to use loops in this section to control the robot car.
              </p>
            </div>
          </div>


          <div class="card border border-info pt-2" data-toggle="modal" data-target=".bd-example-modal-lg5">
            <h5 class="card-title text-center" id="ifelse">IF ELSE</h5>
            <img class="card-img-top" src="images/ifelse.jpg" width="100" height="180" alt="Card image cap" />
            <div class="card-body">
              <p class="card-text">
                Learn how to use conditional statement to handle different sensors
                of our robot car.
              </p>
            </div>
          </div>

          <div class="card border border-info pt-2" data-toggle="modal" data-target=".bd-example-modal-lg6">
            <h5 class="card-title text-center" id="custom">CUSTOM</h5>
            <img class="card-img-top" src="images/custom.png" width="100" height="180" alt="Card image cap" />
            <!-- <div class="card-body">
              <p class="card-text">Code a custom program for your robot car!</p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
