<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h5 class="modal-title" id="exampleModalLongTitle">TUTORIAL</h5> -->
            <a class="text-primary text-decoration-none viewCategoryModal" data-tutorial="<%=home.tutorial%>"
              data-delay="<%=home.delay%>" data-dcmotor="<%=home.dcmotor%>"
              data-loops="<%=home.loops%>" data-ifelse="<%=home.ifelse%>" 
              data-custom="<%=home.custom%>"></a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- <div class="columns">
              <div class="column">
                Challenge 1
                
              </div>
              <div class="column">
                Challenge 2
              </div>
              <div class="column">
                Challenge 3
              </div>
            </div> -->
            <h3 style="text-align: center">Are You Ready?</h3>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
            <button type="button" class="btn btn-primary">YES</button>
          </div>
        </div>
      </div>
  </div>
